<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(<%= cl_image_path @list.photo.key %>)'>
  <div class='text-center'>
    <h1><%= @list.name %></h1>
  </div>
  <%= link_to 'Delete List', list_path(@list), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
<div class="container mt-4">
  <%# <%= link_to 'Add a movie',new_list_bookmark_path(@list), class:'btn btn-success' %>
  <h2>
    <% if @movies.count > 1 %>
      <%= @movies.count %> Movies
    <% elsif @movies.count == 1 %>
      1 Movie
    <% else %>
      No Movies yet added in the list
    <% end %>
  </h2>
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <% movie = bookmark.movie %>
      <div class="card-trip">
        <%= image_tag movie.poster_url %>
        <div class="card-trip-infos">
          <div>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
            <p><%= bookmark.comment %></p>

          </div>
        <h2 class="card-trip-pricing"><%= movie.rating %></h2>
        </div>
        <%= link_to 'Delete Movie',
                    bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

  </div>
  <div class='container col-9'>
    <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.association :movie,input_html: { class: 'js-example-basic-single'}%>
    <%= f.input :comment, as: :text %>
    <%= f.submit "Add a movie", class:'btn btn-success' %>
    <% end %>
  </div>
  <hr>
  <div class="d-flex mt-4 mb-4">
    <div class="reviews col-6">
      <h2>Reviews</h2>
      <% @list.reviews.each do |review| %>
        <%= review.comment %>
        <br>
        <% review.rating.times do %>
          <span><i class="fas fa-star"></i></span>
        <% end %>
        <hr>
      <% end %>
    </div>
    <div class="review-form col-6">
      <h2>Add a review</h2>
      <%= simple_form_for([@list, @review]) do |f| %>
      <%= f.input :comment, as: :text %>
      <%= f.input :rating, collection: 1..5 %>
      <%= f.submit "Create review", class:'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
